<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Humans.txt => JSON</title>
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <link rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body>
  <div class="wrapper">
    <header class="branding">
      <h1>✎</h1>
    </header>

    <div class="main">
      <%= yield %>
    </div>

    <footer class="branding">
      <small>A small hack by <a href="http://c7.se/" rel="author">Peter Hellberg</a></small>
    </footer>
  </div>

  <div class="hazel">
    <a href="http://c7.github.com/hazel/"><img src="/images/hazel_small.png" width="80" height="32" alt="Generated using Hazel" /></a>
  </div>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-940629-11']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
