<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Humans.txt => JSON</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body>
  <div class="wrapper">
    <header class="branding">
      <h1>Humans</h1>
    </header>

    <div class="main">
      <%= yield %>
    </div>

    <footer class="branding">
      <small>A small hack by <a href="http://c7.se/" rel="author">Peter Hellberg</a></small>
    </footer>
  </div>

  <div class="hazel">
    <a href="http://c7.github.com/hazel/"><img src="/images/hazel_small.png" alt="Generated using Hazel" /></a>
  </div>
</body>

