@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a, a:visited {
    color: #E64B07;
    text-decoration: none;
  }

  a:hover {
    color: #E74B09;
    text-decoration: underline;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Welcome Page Styles --- */
  body {
    background: #eee;
    color: #333;
    font-family: Sans-Serif;
    line-height: 18px;
  }

  .wrapper {
    background: #fff;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 600px;
    padding: 2em;
    width: 85%;
  }

  h1 {
    font-size: 36px;
    line-height: 54px;
  }

  h2 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  h4 {
    font-size: 16px;
    line-height: 32px;
  }

  p {
    margin-bottom: 18px;
  }

  pre {
    white-space: pre-wrap;
    color: #333;
    border: 1px solid #eee;
    background-color: #f9f9f9;

    padding: 0.6em 0.5em;
    border-radius: 6px;
    margin-bottom: 1.2em;
  }

  dl {
    margin-top: 1em;
    border: 1px solid #eee;
    background-color: #fefefe;
    padding: 0.5em;
    border-radius: 6px;
    font-size: 0.9em;
  }

  dt {
    font-weight: bold;
  }

  dd {
    padding: 0.4em;
    margin-bottom: 0.7em;
  }

  header h1 {
    font-size: 4em;
  }

  .main {
    overflow: hidden;
  }

  .examples {
    display: block;
    clear: both;
    padding-top: 1em;
  }

  .hazel {
    margin: 36px auto;
    max-width: 480px;
    text-align: center;
  }

  footer {
    margin-top: 1em;
    text-align: center;
  }
}

@media screen and (max-width: 760px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
    margin: 0px auto;
  }

  header h1 {
    font-size: 3.2em;
    margin-bottom: 0.2em;
  }

  .content {
    float: none;
    width: 100%;
  }

  pre {
    padding: 0.5em 0.3em;
    font-size: 12px;
  }

  h1 {
    font-size: 30px;
    line-height: 36px;
  }

  h2 {
    font-size: 18px;
    line-height: 22px;
  }

  h3 {
    font-size: 15px;
    line-height: 20px;
  }

  h4 {
    font-size: 14px;
  }
}

@media screen and (-webkit-max-device-pixel-ratio: 1.5) {
  .hazel img {
    width: 160px;
    height: 64px;
    margin-bottom: 32px;
  }

  .hazel {
    margin: 24px auto;
  }
}

